
@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 100 900;
    font-display:fallback;
    src: url("/static/fonts/Public-Sans-Roman-VF.woff2") format("woff2-variations");
}

@font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 100 900;
    font-display:fallback;
    src: url("/static/fonts/Public-Sans-Italic-VF.woff2") format("woff2-variations");
}

:root {
    --font-family: "Public Sans", sans-serif;
    --font-size:1.5rem;
}

@media (min-width: 45rem) {
    :root {
        --font-size:2.5rem;
    }
}

h1 {
    color:blue;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2rem;
    line-height:1.4;
    margin:0;
    padding:0;
}

h1 {
    font-size:1.75rem;
    letter-spacing:.06rem;
    margin:2rem 0 1rem;
}

.post {
    margin-top:1rem;
    font-size:var(--font-size);
    max-width:70rem;
}

.post p {
    margin:0 0 1rem;
}

.date {
    font-style:italic;
    margin-top:.5rem;
    font-size:1rem;
}


main {
    margin:1rem .5rem;
}

@media (min-width: 45rem) {
    main {
        margin:1rem 2rem;
    }
}
